.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

span{
    /* font-weight: bolder; */
    font-family: 'cattie regular', sans-serif;
    text-shadow: 50%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-palette: light;
}

#kitty{
    margin-right: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(0, 0, 0);
    
}



.kitty{
    margin-right: 10px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    padding: 2px;
}


.scaled{
    scale: 1.2;
    transition: 0.3s;
}